<!-- Course: CST205-01_FA22
Title: Target Walmart Project
Abstract:
Authors: Christopher Raya, Kyle Dowling, Ricardo Perez JR
Date: 12/05/2022 -->

<!doctype html>
<!-- Christopher Raya built this html page -->
<html lang="en">
  <head>
    {% block head %}
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      {% block styles %}
        <!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}
      {% endblock %}

      <title>Project 3700 </title>
      <link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename='style.css')}}">
    {% endblock %}

  </head>
  <body>
    <!-- Your page content -->
    {% block content %}
    <div class="container mt-5">
      <div class="row d-flex justify-content-center">
          <div class="col-md-10">
              <div class="card p-3  py-4">
                  <h5>An Easier way to find your product from Walmart or Target</h5>
                  <div class="row g-3 mt-2">
                      <div class="col-md-3">            
                      </div>
                      <!-- search stuff -->
                      <form action="/results" method="get" autocomplete="off" class="subscribe-form">
                        <div class="form-group d-flex col-md-6">
                            <input type="text" class="form-control" placeholder="Enter a product" name="query" id="query" value="{{query}}">
                            <input type="submit" value="Search" class="submit px-3">
                        </div>
                      </form>
                  </div>
                  <div class="mt-3">                      
</div>
                  </div>
              </div>              
          </div>
      </div>
  </div>

</div>
		{% endblock %}

    {% block scripts %}
      <!-- Optional JavaScript -->
      {{ bootstrap.load_js() }}
    {% endblock %}
    
  </body>
  <footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 CST group 3700: Christopher Raya, Kyle Dowling, Ricardo Perez Jr
    </div>
    <!-- Copyright -->
  </footer>
</html>
